<p id="notice"><%= notice %></p>

<div>
<p>
  <strong>Your original URL:</strong>
  <%= @url.long_url %>
</p>

<p>
  <strong>Your Short URL:</strong>
  <%= @url.short_url %>
</p>

<%= link_to 'Visit your page!', @url.short_url, :class => "btn btn-primary btn-sm" %>
<br>
<%= link_to 'Submit another one!', new_url_path, :class => "btn btn-primary btn-sm" %>
</div>


